/.settings/
/wiki/
/.buildpath
/.project
/*.sqlite
/myVAPID.txt
/MyVapid.php
/MyTest.php
/phpunit.xml
/SKien/Test/PNServer/coverage/
/SKien/Test/PNServer/tempdata/
/SKien/XLogger/
/CCampbell/
/FirePHP/
